body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background: #a89979;
}
header {
  margin: 0 auto;
  width: 400px;
}
header a.site-title {
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
  color: #a89979;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0.5em 0;
  border: rgba(163, 158, 121, 0.3) 2px solid;
  padding: 0.5em 0;
  border-radius: 1em;
  background: white;
}
header a.site-title em {
  text-decoration: none;
  font-family: 'Lily Script One', cursive;
  text-transform: none;
  color: #585d30;
  display: block;
  font-size: 3em;
  line-height: 1;
}
.teaser-image {
  background: url("../img/llamas-home.jpg") #585d30;
  height: 500px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
  overflow: hidden;
}
.teaser-image .tagline {
  font-size: 2em;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 0.3em 0;
  margin-top: 400px;
  border-radius: 1em;
}
nav ul,
nav li {
  margin: 0;
  padding: 0;
}
nav ul {
  text-align: center;
  width: 100%;
}
nav ul li {
  display: block;
  float: left;
}
nav li a {
  display: block;
  padding: 0.4em 2em;
  margin: 1.5em 0.5em 1em 0.5em;
  font-size: 1.2em;
  text-decoration: none;
  color: #585d30;
}
nav li a.active {
  background: #585d30;
  border-radius: 1em;
  color: white;
}
nav li:first-child a {
  margin-left: 0;
}
#main {
  background: white;
  border-radius: 1em;
  clear: both;
}
#main .inner {
  padding: 2em;
}
#main h1 {
  margin-top: 0;
  color: #585d30;
}
footer {
  background: #585d30;
  padding: 2em 0;
  margin-top: 2em;
}
footer .inner {
  color: #a89979;
}
footer a {
  color: white;
}
#main,
.tagline,
nav,
footer .inner {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  #main,
  .tagline,
  nav,
  footer .inner {
    width: 960px;
  }
}
@media (max-width: 1200px) {
  #main,
  .tagline,
  nav,
  footer .inner {
    width: 760px;
  }
}
@media (max-width: 900px) {
  #main,
  .tagline,
  nav,
  footer .inner {
    width: auto;
  }
}
@media (max-width: 900px) {
  .teaser-image {
    display: none;
  }
  footer .inner {
    padding: 0 2em;
  }
  #main {
    border-radius: 0;
  }
  nav ul {
    padding: 0 2em;
    width: auto;
  }
  nav ul li a {
    padding: 1em 1em;
  }
  body {
    width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  nav ul li {
    float: none;
    margin: 0;
  }
  nav ul li a {
    margin: 0;
  }
  header {
    width: auto;
    padding: 0 2em;
  }
  header a.site-title {
    width: auto;
    font-size: 1em;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
